body {
  background-color: #b2bbda;
  color: #1E3A8A;
  font-family: 'Comfortaa', sans-serif;

}

header {
  background-color: #FF6B6B;
}

button {
  background-color: #EAE8FF;
  color: #1E3A8A;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

